# Telegram Bot
BOT_TOKEN=8844663921

# Admin
ADMIN_ID=5053534694

# Shop Details
SHOP_NAME=BILAL PANEL SHOP
SUPPORT_USERNAME=@BILALPANEL3

# Payment
UPI_ID=mohamedbilal20116-1@okicici

# Firebase
FIREBASE_CREDENTIALS=serviceAccountKey.json